// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #088a4f;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #86C232;
$super-light-green: #70DB95

// custom color
// #61892F
// #86C232
// #222629
// #474B4F
// #6B6E70
// #F4F4F4
