    <p><%= t('user_mailer.shared.text_closing_message') %></p>
    <br>
    <div>
      <p><%= t('user_mailer.shared.text_signature') %></p>
      <p><%= t('user_mailer.shared.text_signature_2') %></p>
    </div>
