<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.text_title', course_name: @course) %></h1>
    <p>
      <%= t('.text_message', tutor_first_name: @tutor.first_name, course_name: @course) %>
    </p>
    <%= render '/user_mailer/footer_email' %>
  </body>
</html>
