<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.text_title', message_count: @message_count, course_name: @course.name, user_first_name: @user.first_name}) %></h1>

    <p>
      <%= link_to "#{t('.text_message')}", @url %>
    </p>

    <%= render '/user_mailer/footer_email' %>
  </body>
</html>
