<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greeting from Nurture, <%= @user.first_name %>!</h1>
    <p>
      The following account setting was updated.
    </p>
    <p>
      <ul>
      <% @user.changes.each do |key, value| %>
        <% if key != "updated_at" %>
          <li><%= key %></li>
        <% end %>
      <% end %>
      </ul>
    </p>
    <p>
      To check your update, access to this link: <%= @url %>.
    </p>
    <p>Good luck in your studies!</p>
    <br>
    <div>
      <p>Cheers,</p>
      <p>Nurture Dev Team</p>
    </div>
  </body>
</html>
