<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greeting from Nurture, <%= @user.first_name %>!</h1>
    <p>
      Your account setting was updated.<br>
      To check your update, access to this link: <%= @url %>.
    </p>
    <p>Good luck in your studies!</p>
  </body>
</html>
