<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.text_title', name: @user.first_name) %></h1>
    <p>
      <%= t('.text_message') %>
    </p>
    <p>
      <ul>
      <% @user.changes.each do |key, value| %>
        <% if key != "updated_at" %>
          <li><%= key %></li>
        <% end %>
      <% end %>
      </ul>
    </p>

    <%= render '/user_mailer/footer_email' %>
  </body>
</html>
