<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Nurture, <%= @user.first_name %>!</h1>
    <p>
      We're happy to notify that your account has been created successfully.<br>
      To login to the site, just click the link: <%= @url %>.
    </p>
    <p>Good luck in your studies!</p>
    <br>
    <div>
      <p>Cheers,</p>
      <p>Nurture Dev Team</p>
    </div>
  </body>
</html>
