<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Nurture, <%= @user.first_name %>!</h1>
    <p>
      We're happy to confirm that your account has been successfully created.<br>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Good luck in your studies!</p>
  </body>
</html>
