.section-container {
  min-height: 100vh;
}

#sidebarMenu li {
  position: relative;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-link {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-item a:hover {
	// box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.fa-arrow-left {
  color: black;
}

.fa-arrow-left:hover {
  color: #6B6E70;
  transition: 0.3s;
}

.active{
  font-size: 105%;
  color: green;
  font-weight: bold
  // text-decoration: underline;
}


// Sidebar is not displaying on the screen<764px
@media screen and (max-width: 768px) {
  #sidebarMenu {
    display: none;
  }
}
