<!-- Footer -->
<footer class="text-center text-white sticky" style="background-color: black">
  <!-- Grid container -->
  <div class="container">

    <!-- Section: Social -->
    <section class="text-center my-3">
      <a href="" class="facebook me-5">
        <i class="fab fa-facebook-f fa-2x"></i>
      </a>
      <a href="" class="twitter me-5">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="" class="google me-5">
        <i class="fab fa-google fa-2x"></i>
      </a>
      <a href="" class="instagram me-5">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="" class="linkedin me-5">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="" class="github me-5">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </section>
    <!-- Section: Social -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
        class="text-center p-3"
        style="background-color: gray"
        >
    © 2022 Copyright:
    <a class="text-white" href="#"
        >Nurture.com</a
      >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
