<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</nav>

<h3>About Us</h3>

<%= link_to "Back", :back, class: "btn btn-outline-success" %>

<div class="container mt-5">
TBD
</div>
