<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</nav>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/snoared/image/upload/v1654067534/screenshot-external-content.duckduckgo.com-2022.06.01-16_11_26_qugan2.png);">
  <div class="container">
    <h1>Nurture brings <strong>visual clarity</strong> to tutors <strong> for their student's progress </strong>!</h1>
    <p>Our core purpose is to enable tutors to maintain, give, and receive effective feedback, on one powerful platform</p>
  </div>
</div>
<br>
  <div class="aboutus-product">
    <div class="card-product-infos">
      <h2>How we began</h2>
      <p>Shunjiro, Shingo, James and Ed started the company with the simple goal of making it easy for tutors to maintain written records and give visual feedback on their student's progress.
        Together with $100, they began the journey that would become Nurture.</p>
    </div>
    <img class = "aboutus-image" src="https://res.cloudinary.com/snoared/image/upload/v1654068644/screenshot-external-content.duckduckgo.com-2022.06.01-16_30_15_j4xjzb.png" />
  </div>
<br>
  <div class="aboutus-product">
    <img class = "aboutus-image" src="https://res.cloudinary.com/snoared/image/upload/v1654070851/screenshot-external-content.duckduckgo.com-2022.06.01-17_05_57_qedgn5.png" />
    <div class="card-product-infos">
      <h2>Today, we're building a driven team that cares about tutors</h2>
      <p>From the very beginning, Nurture has been a relentless, grassroots effort from a very small group of people. More recently, the journey has become about building a great team.
        We've been fortunate to gather an amazing team of people who are excited to make an impact, each in their own special way</p>
    </div>
  </div>
