<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Knowledge</li>
  </ol>
</nav>

<div class="mt-3">
  <h1>
    <i class="fas fa-book-open"></i>
    Knowledge
  </h1>

  <%= render "posts#index" %>
</div>
