.btn-success {
  color: white !important;
}

.btn-outline-success:hover {
  color: white !important;
}

.btn-outline-secondary:hover {
  color: white !important;
}


// all delete button
// .btn-outline-secondary, .btn-outline-success {
//   z-index: 100;
// }

.buttons {
  min-width: 100px;
  z-index: 1;
}
