.course-card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 260px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  width: 300px;
  position: relative;
}

.course-card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

.card-image {
  grid-area: image;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
  font-weight: bold;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: green;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding:10px;
}

.xxx {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 500px) {
  .xxx { grid-template-columns: 1fr; }
}

@media (min-width: 700px) {
  .xxx { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1200px) {
  .xxx { grid-template-columns: repeat(3, 1fr); }
}
