# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "Ruby on Rails CI"
on: [pull_request]
  # push:
  #   branches: [ $default-branch ]
  # pull_request:
  #   branches: [ $default-branch ]
jobs:
  Rails-Testing:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
    steps:
      - name: Show workflow info
        run: echo "${{ github.ref }} triggered by ${{ github.event_name }} on a ${{ runner.os }}"
      - name: Checkout code
        uses: actions/checkout@v3
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@8f312efe1262fb463d906e9bf040319394c18d3e # v1.92
        with:
          bundler-cache: true
      - name: Get yarn cache
        uses: c-hive/gha-yarn-cache@v2
      - name: Install js modules
        run: bin/yarn install
      - name: Set up database schema
        run: bin/rails db:schema:load
      - name: Run tests
        env:
          CLOUDINARY_URL: ${{ secrets.CLOUDINARY_URL }}
          MAIL_ADDRESS: ${{ secrets.MAIL_ADDRESS }}
          MAIL_APP_PASSWORD: ${{ secrets.MAIL_APP_PASSWORD }}
          MAIL_DOMAIN: ${{ secrets.MAIL_DOMAIN }}
          MAIL_PORT: ${{ secrets.MAIL_PORT }}
          MAIL_SERVER: ${{ secrets.MAIL_SERVER }}
          SERVER_HOSTNAME: ${{ secrets.SERVER_HOSTNAME }}
          TUTOR_LOGIN_ID: ${{ secrets.TUTOR_LOGIN_ADDRESS }}
          TUTOR_LOGIN_PASSWORD: ${{ secrets.TUTOR_LOGIN_PASSWORD }}
          STUDENT_LOGIN_ID: ${{ secrets.STUDENT_LOGIN_ADDRESS }}
          STUDENT_LOGIN_PASSWORD: ${{ secrets.STUDENT_LOGIN_PASSWORD }}
          TEST_LOGIN_ID: ${{ secrets.TEST_LOGIN_ADDRESS }}
          TEST_LOGIN_PASSWORD: ${{ secrets.TEST_LOGIN_PASSWORD }}
          TWITTER_ACCOUNT: ${{ secrets.TWITTER_ACCOUNT }}
        run: bin/rspec

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@8f312efe1262fb463d906e9bf040319394c18d3e # v1.92
        with:
          bundler-cache: true
      - name: Security audit dependencies
        run: bundle exec bundler-audit --update
      - name: Security audit application code
        run: bundle exec brakeman -q -w2
      - name: Lint Ruby files
        run: bundle exec rubocop --parallel
