<div class="text-right"><%= Date.today %></div>
<div class="bg-dark mb-3">
  <%= wicked_pdf_image_tag 'Nuture.png', height: "80px" %>
</div>
<h2 class="font-weight-bold"><%= t('resources.report') %></h2>
<div style="height: 10px;">
</div>
